@font-face {
    font-family: SFProText-Regular;
    src: url("../../../assets/fonts/SFProText-Regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SFProText-Regular', serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
        font-family: 'SFProText-Regular', serif;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #ddd;
        color: black;
        font-family: 'SFProText-Regular', serif;
    }
}

#color-label {
    display: block !important;
    width: fit-content !important;
}

.terminal {
    height: calc(100% - 60px);
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-end;
    padding-bottom: 8px;
}

span {
    width: calc(100% - 26px);
    display: block;
    margin-left: 13px;
    font-size: 14px;
}

label {
    display: block;
    margin-left: 10px;
    margin-top: 4px;
}

input:focus {
    outline: none !important;
}

input {
    caret-color: #d07f3e;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    left: 10px;
    height: 25px;
    background: #333333;
    color: #bfb293;
    box-shadow: none;
    border: none;
}

.extra-container {
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #463a3a;
}